@charset "utf-8";
body {
  background: #f0f8ff;
}
* {
  box-sizing: border-box;
}
.wrap {
  max-width: calc(1280/1920*100%);
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.header {
  margin-top: 50px;
  width: 100%;
  line-height:100px;
  background: #e6e6fa;
}

.left{
  background:#fafad2;
  width: 15%;
  line-height: 200px;
  float: left;
}
.right{
  background:#fa8072;
  width: 15%;
  line-height: 200px;
  float: right;
}

.footer{
  background: #b0c4de;
  width: 100%;
  line-height:100px;
  clear: both;
}