@charset "utf-8";
body {
  background: #f0f8ff;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
}
.left {
  width: 500px;
  background-color: #191970;
  color: #f0f8ff;
}
.nav {
  text-align: center;
}
.nav img {
  height: 80px;
  width: 80px;
  margin-top: 25%;
}
.nav h4 {
  font-size: 58px;
  margin-top: 8%;
}
.nav_list {
  margin-top: 40%;
  text-align: center;
}
.nav_list li {
  color: #f0f8ff;
  margin-top: 15%;
  font-size: 25px;
}
.nav_list li:hover {
color: #fffacd;
}
.contents {
  flex: 1;
  background-color: #f0f8ff;
  line-height: 35px;
}
.main_cts{
  padding: 0 11%;
}

.title_img img {
  width: 100%;
  height: auto;
}
.contents-inner h3 {
  color: #191970;
  font-size: 30px;
  margin-bottom: 4%;
  margin-top: 5%;
}
.contents-inner p{
  line-height: 25px;
}
.about_main{
  display: flex;
  flex-wrap: wrap;
}
.about_img{
  width: 45%;
}
.about_img img {
  margin-top: 10%;
  width: 80%;
  height: 75%;
  padding: 5px 10px;
}
.about h3 {
  color: #191970;
  font-size: 30px;
  margin-bottom: 5%;
  margin-top: 5%;
}
.about_cts{
  width: 50%;
  height: 9%;
  margin
}
.about_cts p{
  line-height: 30px;
}
.about_cts button{
  background-color: #4682b4;
  color: white;
  height: 60px;
  width: 200px;
  margin-top: 40px;
}
.gallery_img {
  display: flex;
  /* カラム落ちを利用している */
  flex-wrap: wrap;
}
.gallery_img img {
  width: 20%;
  height: 15%;
  padding: 5px 10px;
}
.gallery h3 {
  color: #191970;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.scd_gallery h3 {
  color: #191970;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.scd_img {
  display: flex;
  flex-wrap: wrap;
}
.scd_img img {
  width: 33.3%;
  height: 23%;
  padding: 5px 10px;
}
.trd_gallery h3 {
  color: #191970;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.trd_img {
  display: flex;
  flex-wrap: wrap;
}
.trd_img img {
  width: 25%;
  height: 20%;
  padding: 5px 10px;
}
.contact h3 {
  color: #191970;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2%;
}

/* formレイアウト */
.contact_form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.contact{
  width: 60%;
  margin-right: -10%;
}
input,textarea{
  width: 70%;
  margin-bottom: 2%;
  border-color:#4169e1;
  border-width: 1px;
}
input{
  height: 30px;
}
textarea{
  height: 200px;
}
input::placeholder, textarea::placeholder{
  color: #4169e1;
}
.inp_contents{
  /* height: 300px; */
  margin-bottom: 5%;
}
.contact button{
  background-color: #4682b4;
  color: white;
  height: 60px;
  width: 100px;
  margin-bottom: 10%;
  font-size: large;
}
.contact_text{
  width: 40%;
  height: 20%;
  margin-top: 5%;
  line-height: 10px;
}
.contents-inner .p1{
  line-height: 30px;
  margin-bottom: 5%;
}
.p2{
  line-height: 8px;
}
footer{
  margin-left: 10%;
}