@charset "utf-8";
body {
  background: #f0f8ff;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
}
.left {
  width: 300px;
  background-color: #191970;
  color: #f0f8ff;
}
.nav {
  text-align: center;
}
.nav img {
  height: 30px;
  width: 30px;
  margin-top: 30%;
}
.nav h4 {
  font-size: 30px;
  margin-top: 8%;
}
.nav_list {
  margin-top: 40%;
  text-align: center;
}
/* .nav_list ul{
} */
.nav_list li {
  color: #f0f8ff;
  margin-top: 15%;
  /* margin: 0 auto; */
}
.contents {
  flex: 1;
  background-color: #f0f8ff;
}
.main_cts{
  padding: 0 10%;
}
/* .title{
  width: 100%;
  height: 20%;
} */
.title_img img {
  width: 70%;
  height: 1%;
}
.title h3 {
  color: #191970;
  font-size: 30px;
  margin-bottom: 4%;
  margin-top: 5%;
}
.title p{
  line-height: 25px;
}
.about_main{
  display: flex;
  flex-wrap: wrap;
}
.about_img img {
  margin-top: 5%;
  width: 90%;
  height: 80%;
  padding: 5px 10px;
}
.about h3 {
  color: #191970;
  font-size: 30px;
  margin-bottom: 5%;
  margin-top: 5%;
}
.about_cts{
  width: 40%;
  height: 9%;
}
.about_cts button{
  background-color: #4682b4;
  color: white;
  height: 60px;
  width: 200px;
}
.gallery_img {
  display: flex;
  /* カラム落ちを利用している */
  flex-wrap: wrap;
}
.gallery_img img {
  width: 12%;
  height: 8%;
  padding: 5px 10px;
}
.gallery h3 {
  color: #191970;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.scd_gallery h3 {
  color: #191970;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.scd_img {
  display: flex;
  flex-wrap: wrap;
}
.scd_img img {
  width: 20%;
  height: 15%;
  padding: 5px 10px;
}
.trd_gallery h3 {
  color: #191970;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.trd_img {
  display: flex;
  flex-wrap: wrap;
}
.trd_img img {
  width: 15%;
  height: 10%;
  padding: 5px 10px;
}
.contact h3 {
  color: #191970;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2%;
}

/* テーブルレイアウト */
input{
width: 20%;
}
.contact button{
  background-color: #4682b4;
  color: white;
  height: 60px;
  width: 200px;
}

