/* ヘッダーデザイン */
.header {
  height: 50%;
  color: #fff;
  background-color: #858585;
}
p,li{
  font-family: sans-serif;
}
.title h1 {
  font-weight: bold;
  font-size: x-large;
}
.title h2 {
  font-weight: normal;
  font-size: larger;
  color: #dcdcdc;
}
.box {
  height: 100px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.giza {
  background-image: url(img-3/bg_giza.png);
  content: "";
  display: block;
  height: 8px;
  background-position: 0 17px;
  margin-bottom: 2%;
}
/* 疑似要素after */
/* displayblock
content"" 空領域
background imageで画像
background potitionで位置調整 */
.header_contents {
  width: 980px;
  margin-left: 250px;
  justify-content: space-between;
  display: flex;
  margin-top: 2%;
}
.share {
  justify-content: end;
  display: flex;
}
.share_icon {
  justify-content: space-between;
  display: flex;
}
.share_title h1 {
  font-weight: bold;
  font-size: x-large;
}
.share_title span {
  font-weight: normal;
  font-size: x-large;
}
.share_tw {
  background-image: url(img-3/sprite.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.share_tw:hover {
  background-image: url(img-3/sprite.png);
  background-position: 0px -32px;
  height: 32px;
}
.share_fb {
  background-image: url(img-3/sprite.png);
  background-position: -32px 0px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.share_fb:hover {
  background-image: url(img-3/sprite.png);
  background-position: -32px -32px;
  background-repeat: no-repeat;
  height: 32px;
}
body {
  background-image: url(img-3/bg_tekusu.jpg);
}
.nav,
.side_menu {
  width: 300%;
}
main {
  display: flex;
  align-items: flex-start;
  width: 980px;
  margin-left: 250px;
}
/* 左サイトメニューデザイン */
.nav p {
  font-size: 10px;
  margin: 5% 0 5% 0;
}
.nav ul {
  width: 90%;
}
.nav ul > :first-child {
  width: 90%;
  height: 50px;
}
.nav ul > :nth-child(3) {
  width: 90%;
  height: 40px;
}
.nav li {
  background-color: #fff;
  color: #000;
  width: 90%;
  height: 30px;
  margin-bottom: 5px;
}
.login_icon {
  background-image: url("img-3/sprite.png");
  display: inline-block;
  background-position: -64px -32px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.seach_icon{
  background-image: url("img-3/sprite.png");
  display: inline-block;
  background-position: -64px 0px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
input{
  display: inline-block;
  width: 70px;
}
input[type="text"]:focus{
  box-shadow: 0 0 2px 2px #1e90ff;
  outline: 0;
}
.main_cts {
  padding-left: 10px;
}
.main_cts h1 {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 2%;
}
.main_cts p {
  margin-bottom: 3%;
}
.main_img img {
  height: 380px;
  width: 580px;
  margin-bottom: 5%;
}
.main_cts h2 {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 2%;
  border-left: solid 5px #696969;
}
.contents p {
  width: 580px;
}
.side_menu {
  padding-left: 20px;
}
.Author_introduction h2 {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 5%;
}
.ranking {
  margin-top: 10%;
}
.ranking_icon {
  background-image: url("img-3/sprite.png");
  display: inline-block;
  background-position: -96px 0px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.ranking li {
  width: 110%;
  height: 60px;
  background-color: #fff;
  color: #000;
  margin-bottom: 8px;
}
.sub_menu{
  margin-top: 20%;
  height: 50%;
}
.sub_menu li{
  width: 110%;
  background-color: #fff;
  color: #000;
  height: 30px;
  margin-bottom: 8px;
}