<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム+</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">ロゴ画像</header>
    <div class="side1">item</div>
    <main class="main">テキスト</main>
    <div class="side3">サブタイトル</div>
    <div class="side4">サブタイトル </div>
    <div class="side2">バナー画像</div>
  </div>
</body>
</html>