@charset "utf-8";
body {
  background: #f0f8ff;
}
* {
  box-sizing: border-box;
}
.wrap {
  max-width: calc(1280/1920*100%);
  margin: auto;
  font-size: 15px;
}
.header {
  background: #808080;
  padding: 50px 0;
  margin: 40px 0px;
  text-align: center;
}
.item{
  background:#00ffff;
  width: 20%;
  line-height: 40px;
  float: left;
/*  text-align: initial;*/
}
.main_content{
  float: left;
  line-height: 24px;
  width: 38%;
  margin-left: 10px;
  margin-right: 10px;
}
.text {
  background: #fa8072;
  margin-bottom: 20px;
  padding-left: 30px;
}
.text ul{
    list-style-type:disc;
}
.product_t {
  background: #7fffd4;
  margin-bottom: 20px;
}
.product_t ul.li{
  display: inline-block;
}
.product_b {
  background: #7fffd4;
}
.product_b ul.li{
  display: inline-block;
}
.banner{
  background: #eee8aa;
  width: 40%;
  line-height:400px;
  float: right;
  text-align: center;
}