@charset "utf-8";
body {
  background: white;
}
* {
  box-sizing: border-box;
}
.wrap {
  /* max-width: calc(1280/1920*100%); */
  /* 1280がwrapの横幅、1920は（一般的な）画面サイズの横幅 */
  /* max-witdh: 1336px; */
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}
.header {
  padding: 50px 0;
}
.title{
  overflow: hidden;
}
.title img{
  /* height: 5%;
  width: 10%; */
  float: left;
  overflow: hidden;
}
.top{
 display: flex;
 /* 両端にする */
 justify-content: space-between;
 /* align-itemsはflexプロパティにしかできない上下を中央にするやつ */
 align-items: center;
}
.header_menu{
  /* float: right; */
  font-size: 15px;
  overflow: hidden;
  margin-right: 60px;
}
ul{
  float: right;
}

li{
  float: left;
  margin-right: 20px;
}
.g_line h3{
  width: 50%;
  height: 10%;
  line-height:35px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.main_img img{
  /* height: 50%;
  width: 70%; */
  width: 100%;
  margin-bottom: 5%;
}
.contents{
  height: 20%;
  margin-bottom: 40px;
  /* width: 30%; */
}
.contents_img, .content_text{
  display: flex;
  /* カラム落ちを利用している */
  flex-wrap: wrap;
}

.contents_img img ,.content_text p{
  padding: 5px 10px;
  width: 50%;
  height: auto;
  text-align: left;
  line-height: 25px;
}
/* .img_1{
  height: 10%;
  width: 20%;
}
.img_2{
  height: 10%;
  width: 20%;
} */


.foot{
  display: flex;
  justify-content: center;
}
.foot img{
  height: 80px;
  width: 100px;
}
.footer {
  padding: 50px 0;
  clear: both;
}

header, main, footer {
  width: 1366px;
  margin: 0 auto;
}